<section class="hero is-grey is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img src="https://placehold.it/128x128">
                    </figure>
                    
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" placeholder="Enter Your Mobile Number " autofocus="" (keyup)="onEnterMobNo($event)">
                            </div>
                        </div>

                        
                       
                        <!-- <button class="button is-block is-info is-large is-fullwidth">Login</button> -->
                        
                        <a class="button heading is-outlined is-primary" [swal]="{
                          title: 'Keep Your Fingers at Your Phone',
                          text: 'open Your E-Vote App and keep your fingers at your phone similar to when you unlock your phone?',
                          type: 'info',
                          showCancelButton: 'true',
                          focusCancel: 'true',
                          confirmButtonText: 'Done, log me in',
                          cancelButtonText: 'Wait!'
                          }" (confirm)="saveScript()">
                          LOG IN
                        </a>
                </div>
              
            </div>
        </div>
    </div>
</section>