<app-background></app-background>

<div style="margin:5em">

<div *ngIf="upcomingOrpast=='upcoming'">
<div class="title has-margin-5"> Upcoming Election</div>
</div>

<div *ngIf="upcomingOrpast=='past'">
<div class="title has-margin-5"> Past Election</div>
</div>

<!-- <div class="title azuki" style="color:white;font-size: 3em">Every candidate of your constituency filed an RTI</div> -->

<div class="columns">
  <div class="column is-one-fourth">
      <!-- <app-vote [decisionHelper]="'true'"></app-vote> -->
      <div class="category-list events-listing row active azuki" style="width:50%">
        <!-- <div  *ngFor="let item of categories"> -->
          <a  (click)="vote(item)" class="events-listing-item" >
            <div class="image" [ngStyle]="{ 'background-image': 'url('+ domain + item.party_symbol + ')'}"></div>
            <div class="title">{{ item.party }}</div>
          </a>
        <!-- </div> -->
      </div>
  </div>
  <div class="column">
    <div style="margin-right:30em">
      <div class="white-text">
        <div>
          
           <div class="title azuki" style="color:white;font-size: 5em">hello</div>
          <div class="azuki" style="color:white;font-size: 2em">asdfsaf</div><br>
          <a class="mbtn white-text"  target="_blank" style="font-size:1.5em">View RTI Pdf</a><br><br><br>
        </div>  
      </div> 
    </div>   
  </div>
</div>
