<app-background></app-background>

<div style="margin:5em">

<div *ngIf="upcomingOrpast=='upcoming'">
<div class="title has-margin-5 azuki" style="font-size:5em; color:black"> Upcoming Election</div>
</div>

<div *ngIf="upcomingOrpast=='past'">
<div class="title has-margin-5"> Past Election</div>
</div>

<!-- <div class="title azuki" style="color:white;font-size: 3em">Every candidate of your constituency filed an RTI</div> -->

<div style="margin-top:5em">

 
    <div>
      <div class="white-text">
        <div *ngFor="let election of elections">
          
           <div class="title azuki" style="color:black;font-size: 5em">{{election.name}}</div>
          <div class="azuki" style="color:black;font-size: 2em">{{election.description}}</div><br>
          <a class="mbtn white-text" style="background:black" (click)="onSelectElectionId(election.id)"  target="_blank" style="font-size:1.5em">parties available to vote</a><br><br><br>
        </div>  
      </div> 
    </div>   
  
</div>
